
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
    <!--<![endif]-->
    <head>
	<script data-ad-client="ca-pub-8272345446775401" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>ون ديزاين للتصميم | وخدمات الويب</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="img/favicon.png">
        <meta name="keywords" content="ايقونات حصريه لشاتات الجوال , تيجان جديده للشات , دروع حديثه للشات على ون ديزاين , نجوم لشات الجوال , تيجان لشات الجوال , دروع لشات الجوال , احدث التيجان للشات , احدث الدروع للشات ، احدث النجوم للشات , تيجان متحركه للشات , دروع متحركه للشات , نجوم متحركه للشات , تيجان دروع للشات الصوتي , نجوم للشات الصوتي , ايقونات حديثه لشات الجوال , احدث الايقونات للشات , تحميل ايقونات حديثه للشاتات , تحميل تيجان للشات , تحميل دروع للشات , ايقونات متحركه للشات , ايقونات للشات الصوتي , ون ديزاين شات الجوال,تصميم,جرافيكس,مونتاج,ارشفه,شاتات,جوال,شات,الجوال,بنرات,ايقونات,واجهات,صفحات,ون,ديزاين,للتصميم,وخدمات,الويب,بنرات,فيدويهات,ايقونات,ارشفه,موشن جرافيك,انفو جرافيك,اسماء بنرات,مواقع "/>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
        <link rel="stylesheet" type="text/css" href="engine1/style.css" media="screen"/>
        <style type="text/css">
            a#vlb {
                display: none
            }
        </style>
        <script type="text/javascript" src="engine1/jquery.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Changa&display=swap" rel="stylesheet">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <div class="overlay"></div>
        <section class="top-part">
            <img controls autoplay loop>
            <img src="img/back.jpg" alt="">
            <img src="img/back.jpg" alt="" width="100%" height="100%" border="1"></img>
        </section>
        <section class="cd-hero">
            <div class="cd-slider-nav">
                <nav>
                    <span class="cd-marker item-1"></span>
                    <ul>
                        <li>
                            <a href="#0">
                                <div class="image-icon">
                                    <img src="img/contact-icon.png">
                                </div>
                                <h6>اتصل بنا</h6>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <div class="image-icon">
                                    <img src="img/projects-icon.png">
                                </div>
                                <h6>من أعمالنا</h6>
                            </a>
                        </li>
                        <li class="selected">
                            <a href="#0">
                                <div class="image-icon">
                                    <img src="img/home-icon.png">
                                </div>
                                <h6>الرئيسيه</h6>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
			
			
			
			   <div class="ia-container">
               <a id="bottle">
               <a href="https://1des.net/" target="_blank">
               <img src="https://h.top4top.io/p_237765jho1.gif" style=""width="500" height="100%" alt=":: اعلن معنا ::"></a></div>
			   <div class="ia-container">
               <a id="bottle">
               <a href="https://1des.net/" target="_blank">
               <img src="https://5.top4top.net/p_1411u7m9x1.gif" style=""width="500" height="100%" alt=":: اعلن معنا ::"></a></div>
			
            <!-- .cd-slider-nav -->
            <ul class="cd-hero-slider">
                <li>
                    <div class="heading">
                        <h1>
                            <a id="bottle">
                                <img src="img/one.png" alt="" width="300" height="100%" border="1">
                            </a>
                        </h1>
                        <span>ون ديزاين لكافة أعمال التصميم والجرافيكس</span>
                    </div>
                    <div class="cd-half-width fivth-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content fivth-content">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <form id="contact" action="" method="post">
                                                        <div class="col-md-6">
                                                            <fieldset>
                                                                <input name="email" type="email" class="form-control" id="email" placeholder="بريدك الألكتروني" required>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <fieldset>
                                                                <input name="name" type="text" class="form-control" id="name" placeholder="أكتب أسمك" required>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <fieldset>
                                                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="أكتب رسالتك هنا" required></textarea>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <fieldset>
                                                                <button type="submit" id="form-submit" class="btn">إرسال الرساله</button>
                                                            </fieldset>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="left-info">
                                                    <p>
                                                        للأستفسار أو الطلبات يرجى تعبئة النموذج الموضح أمامك وارسال رساله الينا وسوف نقوم بالتواصل معك في اقرب فرصه ممكنه او مراسلتنا على التطبيقات التاليه
                              <br>
                                                        <br>
                                                        <em>
                                                            Whatsapp : (+967) 772979764<br>Telegram : (+967) 772979764
                                                        </em>
                                                    </p>
                                                    <ul class="social-icons">
                                                        <i>
                                                            <a href="#">
                                                                <i class="fa fa-facebook"></i>
                                                            </a>
                                                        </i>
                                                        <i>
                                                            <a href="#">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </i>
                                                        <i>
                                                            <a href="#">
                                                                <i class="fa fa-linkedin"></i>
                                                            </a>
                                                        </i>
                                                        <i>
                                                            <a href="#">
                                                                <i class="fa fa-rss"></i>
                                                            </a>
                                                        </i>
                                                        <i>
                                                            <a href="#">
                                                                <i class="fa fa-behance"></i>
                                                            </a>
                                                        </i>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="heading">
                        <h1>
                            <a id="bottle">
                                <img src="img/one.png" alt="" width="300" height="100%" border="1">
                            </a>
                        </h1>
                        <span>ون ديزاين لكافة أعمال التصميم والجرافيكس</span>
                    </div>
                    <div class="cd-half-width fourth-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content fourth-content">
                                        <div class="row">
                                            <div class="col-md-3 project-item">
                                                <div class="hover-shadow">
                                                    <a href="mtbo3.html" target="_blank">
                                                        <img src="img/one1.png">
                                                </div>
                                                <h6>
                                                    <a style="color: #000304;font-size: 18px;text-decoration: none;">دعاية و اعلان و مطبوعات</a>
                                                </h6>
                                            </div>
                                            <div class="col-md-3 project-item">
                                                <div class="hover-shadow">
                                                    <a href="m5totat.html" target="_blank">
                                                        <img src="img/one1.png">
                                                </div>
                                                <h6>
                                                    <a style="color: #000304;font-size: 18px;text-decoration: none;">مخطوطات و شعارات</a>
                                                </h6>
                                            </div>
                                            <div class="col-md-3 project-item">
                                                <div class="hover-shadow">
                                                    <a href="bunner.html" target="_blank">
                                                        <img src="img/one1.png">
                                                </div>
                                                <h6>
                                                    <a style="color: #000304;font-size: 18px;text-decoration: none;">بنرات مواقع</a>
                                                </h6>
                                            </div>
                                            <div class="col-md-3 project-item">
                                                <div class="hover-shadow">
                                                    <a href="styles.html" target="_blank">
                                                        <img src="img/one1.png">
                                                </div>
                                                <h6>
                                                    <a style="color: #000304;font-size: 18px;text-decoration: none;">استايلات شات الجوال</a>
                                                </h6>
                                            </div>
                                            <div class="col-md-3 project-item">
                                                <div class="hover-shadow">
                                                    <a href="bunner-name.html" target="_blank">
                                                        <img src="img/one1.png">
                                                </div>
                                                <h6>
                                                    <a style="color: #000304;font-size: 18px;text-decoration: none;">بنرات أسماء</a>
                                                </h6>
                                            </div>
                                            <div class="col-md-3 project-item">
                                                <div class="hover-shadow">
                                                    <a href="icons.html" target="_blank">
                                                        <img src="img/one1.png">
                                                </div>
                                                <h6>
                                                    <a style="color: #000304;font-size: 18px;text-decoration: none;">ريش و ايقونات شات الجوال</a>
                                                </h6>
                                            </div>
                                            <div class="col-md-3 project-item">
                                                <div class="hover-shadow">
                                                    <a href="iconstop.html" target="_blank">
                                                        <img src="img/one1.png">
                                                </div>
                                                <h6>
                                                    <a style="color: #000304;font-size: 18px;text-decoration: none;">ريش و ايقونات حصريه</a>
                                                </h6>
                                            </div>
                                            <div class="col-md-3 project-item">
                                                <div class="hover-shadow">
                                                    <a href="https://www.youtube.com/channel/UCShvwfi9ih_hKt1FJjbW_Og?view_as=subscriber" target="_blank">
                                                        <img src="img/one1.png">
                                                </div>
                                                <h6>
                                                    <a style="color: #000304;font-size: 18px;text-decoration: none;">فيديوهات</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="selected">
                    <div class="heading">
                        <h1>
                            <a id="bottle">
                                <img src="img/one.png" alt="" width="300" height="100%" border="1">
                            </a>
                        </h1>
                        <span>ون ديزاين لكافة أعمال التصميم والجرافيكس</span>
                    </div>
                    <div class="cd-full-width first-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content first-content">
                                        <div id="main">
										<a href="3rod.html" class="tm-feature-name"style="color: #ff0000;font-size: 21px;font-weight: bold;"target="_blank">عروض التصميم للأفراد و أصحاب المواقع</a>
                                                   <div class="row" id="tmFeatures">
                                                    <div class="tm-bg-white-transparent tm-feature-box">
                                                        <h3 class="tm-feature-name">تصميم اجمل - سعر اقل</h3>
                                                        <div class="text-center">
                                                            <p class="text-center"> تصميم كافة اعمال الدعاية و الاعلان - بوسترات - بروشورات - مجلات - شعارات - هويات تجاريه كامله - لوحات اعلانيه - دعوات زفاف - لوحات فلكس مضيئه - لوحات قماشيه
															<p>تصميم اسم الموقع بأحترافيه عاليه جداً
                                                            <p>تصميم بنرات الأسماء بأحترافيه و انفراد تام 
                                                            <p>تصميم أحترافي لأيقونات وريش المواقع بحسب الطلب
                                                            <p>تصميم صفحات للموقع بنفس استايل الشات مع توافق الصفحات لسياسات قوقل لاصحاب المواقع و ظهورها في نتائج البحث في قوقل
                                                            <p>تبدء اسعار التصميم بـ 50 ريال سعودي فقط لعملائنا  
                                                            <p></p>
                                                            <a href="https://api.whatsapp.com/send?phone=967772979764&text=&source=&data=" style="color: #08bef4;font-weight: bold;font-size: 18px;text-decoration: none;" target="_blank">للطلب و الأستفسار</a>
                                                        </div>
                                                    </div>
                                                </div>
										<!-- Start WOWSlider.com BODY section -->
                                            <section class="main">
                                                <div class="ia-container">
                                                    <figure>
                                                        <img src="images/11.jpg" alt="image01"/>
                                                        <input type="radio" name="radio-set" checked="checked"/>
                                                        <figcaption></figcaption>
                                                        <figure>
                                                            <img src="images/22.jpg" alt="image02"/>
                                                            <input type="radio" name="radio-set"/>
                                                            <figcaption></figcaption>
                                                            <figure>
                                                                <img src="images/33.jpg" alt="image03"/>
                                                                <input type="radio" name="radio-set"/>
                                                                <figcaption></figcaption>
                                                                <figure>
                                                                    <img src="images/44.jpg" alt="image04"/>
                                                                    <input type="radio" name="radio-set"/>
                                                                    <figcaption></figcaption>
                                                                    <figure>
                                                                        <img src="images/55.jpg" alt="image05"/>
                                                                        <input type="radio" name="radio-set"/>
                                                                        <figcaption></figcaption>
                                                                        <figure>
                                                                            <img src="images/66.jpg" alt="image06"/>
                                                                            <input type="radio" name="radio-set"/>
                                                                            <figcaption></figcaption>
                                                                            <figure>
                                                                                <img src="images/77.jpg" alt="image07"/>
                                                                                <input type="radio" name="radio-set"/>
                                                                                <figcaption></figcaption>
                                                                                <figure>
                                                                                    <img src="images/88.png" alt="image08"/>
                                                                                    <input id="ia-selector-last" type="radio" name="radio-set"/>
                                                                                    <figcaption></figcaption>
                                                                                </figure>
                                                                            </figure>
                                                                        </figure>
                                                                    </figure>
                                                                </figure>
                                                            </figure>
                                                        </figure>
                                                    </figure>
                                                </div>
                                                <!-- ia-container -->
												
                                            </section>
                                            <!-- End WOWSlider.com BODY section -->
                                            <br>
                                            <br>
                                            <a href="icons.html" target="_blank" id="bottle">
                                                <img src="img/icon.gif" alt="" width="200" height="100%" border="1">
                                            </a>
                                            <a href="iconstop.html" target="_blank" id="bottle">
                                                <img src="img/ico.gif" alt="" width="200" height="100%" border="1">
                                            </a>
                                            <a href="bunner-name.html" target="_blank" id="bottle">
                                                <img src="img/name.gif" alt="" width="200" height="100%" border="1">
                                            </a>
                                            <a href="bunner.html" target="_blank" id="bottle">
                                                <img src="img/web.gif" alt="" width="200" height="100%" border="1">
                                            </a>
                                            <div class="row" id="tmFeatures">
                                                <div class="col-lg-4">
                                                    <div class="tm-bg-white-transparent tm-feature-box">
                                                        <h3 class="tm-feature-name">عروض الدعم الفني</h3>
                                                        <div class="text-center">
                                                            <p class="text-center">تجهيز الشات لقوقل بكتابة وصف الموقع والكلمات الدلاليه المناسبه للشات
                                                            <p>تجهيز غرف الشات عدد 20 غرفه اساسيه للشات مع الصور الرمزيه
                                                            <p>تركيب فيسات الشات عدد 150 فيس وهدايا الزوار عدد 30 هديه منوعه
                                                            <p>تركيب ايقونات السوابر الاساسيه عدد 20 ايقونه مع المجموعات والخصائص
                                                            <p>تصميم صورة رمزيه للشات تظهر في بروفايل الزوار الجدد في الشات والرومات العامه 
                                                            <p></p>
                                                            <a href="https://api.whatsapp.com/send?phone=967772979764&text=&source=&data=" style="color: #08bef4;font-weight: bold;font-size: 18px;text-decoration: none;" target="_blank">للطلب و الأستفسار</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="tm-bg-white-transparent tm-feature-box">
                                                        <h3 class="tm-feature-name">عروض الأرشفه</h3>
                                                        <div class="tm-feature-icon-container"></div>
                                                        <p class="text-center">نشر الموقع بجميع محركات البحث العالمية و اهمها Google Yhaoo
                                                        <p>إنشاء خريطة للموقع و لجميع صفحاته وأقسامه إن وجدت وارفاقها بالموقع
                                                        <p>عمل اعلانات نصيه للعميل في اكثر من 25 موقع لمدة شهر قابله للتمديد 
                                                        <p>نشر الموقع في ادلة المواقع العربية لتعزيز ثقة قوقل بالموقع 
                                                        <p>المنافسه لموقع العميل على كلمات قويه في قوقل لكسب زوار اكثر 
                                                        <p></p>
                                                        <a href="https://api.whatsapp.com/send?phone=967772979764&text=&source=&data=" style="color: #08bef4;font-weight: bold;font-size: 18px;text-decoration: none;" target="_blank">للطلب و الأستفسار</a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="tm-bg-white-transparent tm-feature-box">
                                                        <h3 class="tm-feature-name">عروض التصميم</h3>
                                                        <div class="tm-feature-icon-container"></div>
                                                        <p class="text-center">( استايل شات احترافي + 4 صفحات )
                                                        <p>
                                                        <p>مدة العمل : من 1 إلي 3 أيام

                                                        <p>تصميم متوافق مع جميع المتصفحات 
متوافق مع محركات البحث وفقاً لأحدث معايير التصميم العالمية

                                                        <p>الصفحات الفرعيه لها نفس التصميم الخاص بالصفحة الرئيسية للشات مع تغيير المعلومات و البيانات الموجوده بكل صفحة 
                                                        <p>اضافة لمسات جمالية على التصميم حسب توجه التصميم واحتياجاته .
                </p>
                                                        <a href="https://api.whatsapp.com/send?phone=967772979764&text=&source=&data=" style="color: #08bef4;font-weight: bold;font-size: 18px;text-decoration: none;" target="_blank">للطلب و الأستفسار</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- .cd-hero-slider -->
        </section>

    <fieldset align="center" style="padding: 2px;"> <legend><span lang="ar-sy"><b>ضع موقعك هنـآ</b></span></legend> 

	
	
		<table id="table1" style="border-width: 0px;" border="1" width="100%" height="22"> <tbody><tr> <td style="border-style: none; border-width: medium;" align="center" bgcolor="#66CCFF"> 
    <a href="https://1des.net/" target="_blank"><span lang="ar-sy">
    <font size="2" color="#000"><b>دردشة الجوال للجوال</b></font></span></a></td> <td style="border-style: none; border-width: medium;" align="center" bgcolor="#6bdc74"> 
    <a href="https://1des.net/" target="_blank"><span lang="ar-sy">
    <font size="2" color="#000"><b>شات الجوال للجوال</b></font></span></a></td> <td style="border-style: none; border-width: medium;" align="center" bgcolor="#dcc96b"> 
    <a href="https://1des.net/" target="_blank"><span lang="ar-sy">
    <font size="2" color="#000"><b>الجوال جوال</b></font></span></a></td> <td style="border-style: none; border-width: medium;" align="center" bgcolor="#FF0066"> 
    <a href="https://1des.net/" target="_blank"><span lang="ar-sy">
    <font size="2" color="#000"><b>دردشة الجوال</b></font></span></a></td> <td style="border-style: none; border-width: medium;" align="center" bgcolor="#999999"> 
    <a href="https://1des.net/" target="_blank"><span lang="ar-sy">
    <font size="2" color="#000"><b>شات جوال</b></font></span></a></td> <td style="border-style: none; border-width: medium;" align="center" bgcolor="#CC33FF"> 
    <a href="https://1des.net/" target="_blank"><span lang="ar-sy">
    <font size="2" color="#000"><b>شات الجوال للجوال</b></font></span></a></td> <td style="border-style: none; border-width: medium;" align="center" bgcolor="#F3AD5F"> 
    <a href="https://1des.net/" target="_blank"><span lang="ar-sy">
	<font size="2" color="#000"><b>شات الجوال</b>
	</font></span></a></td> </tr> </tbody></table></fieldset>

        <!-- .cd-hero -->
        <footer>

            <p>
                &copy;2020.one for design - All rights reserved! - Theme by <a target="_blank" href="http://www.1des.net">ون ديزاين للتصميم</a>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
        </script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <!-- whatsapp text support widget by bloggerpaths.tech -->
        <script type="text/javascript">
            (function() {
                var options = {
                    whatsapp: "00966578612701",
                    // WhatsApp number
                    company_logo_url: "https://www.1des.net/img/flag.png",
                    // URL of company logo (png, jpg, gif)
                    greeting_message: "مرحبا، كيف يمكننا مساعدتك؟ فقط أرسل لنا رسالة الآن للحصول على المساعدة.",
                    // Text of greeting message
                    call_to_action: "راسلنا",
                    // Call to action
                    position: "left",
                    // Position may be 'right' or 'left'
                };
                var proto = document.location.protocol
                  , host = "whatshelp.io"
                  , url = proto + "//static." + host;
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = url + '/widget-send-button/js/init.js';
                s.onload = function() {
                    WhWidgetSendButton.init(host, proto, options);
                }
                ;
                var x = document.getElementsByTagName('script')[0];
                x.parentNode.insertBefore(s, x);
            }
            )();
        </script>
        <!-- /whatsapp text support widget -->
    </body>
</html>
